  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  

 body{
   background-color:coral ; 
 }
 .copy_right_footer{
   bottom:0;
  position: fixed;
  background-color: darksalmon;
  color: brown;
  width: 100%;
  line-height: 3;
  text-align: center;
 }
 img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
 }
 ol h5{
  background-color: aliceblue;
  padding: 13px;
  border-radius: 20px;
 }
 span{
  color: darksalmon;
  font-size: 16px;
 }
 .test_image_result{
  background-color:bisque ;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
 }
 .mini_result{
letter-spacing: 2px;
background-color: blanchedalmond;
margin-top: 30px;
padding: 20px;
  border-radius: 10px;
border: 2px solid orange;

 }

